<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TanMu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0405D62D1DDE9B97004A80BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0405D6461DDE9B97004A80BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0405D6511DDE9B97004A80BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
